[submodule "RotaryEncoder"]
	path = lib/RotaryEncoder
	url = https://github.com/mathertel/RotaryEncoder.git
[submodule "LCDWIKI_GUI"]
	path = lib/LCDWIKI_GUI
	url = https://github.com/lcdwiki/LCDWIKI_gui.git
[submodule "LCDWIKI_KBV"]
	path = lib/LCDWIKI_KBV
	url = https://github.com/lcdwiki/LCDWIKI_kbv.git
[submodule "TouchScreen"]
	path = lib/TouchScreen
	url = https://github.com/adafruit/Adafruit_TouchScreen.git
[submodule "PinChangeInterrupt"]
	path = lib/PinChangeInterrupt
	url = https://github.com/NicoHood/PinChangeInterrupt
[submodule "OneButton"]
	path = lib/OneButton
	url = https://github.com/mathertel/OneButton
